@model WebRate.Models.WebComment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WebComment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Website.Tittle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website.Tittle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DetailComment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DetailComment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WebComntId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
