@model IEnumerable<WebRate.Models.Website>

@{
    ViewBag.Title = "Index";
}

<h2>Websites</h2>

<p>
    @Html.ActionLink("Add Website", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tittle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tittle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>


            @Html.ActionLink("Edit", "Edit", new { id = item.WebID }) |
            @Html.ActionLink("Details", "Details", new { id = item.WebID })  |

            @Html.ActionLink("Delete", "Delete", new { id = item.WebID })


        </td>
    </tr>
}

</table>
